/* Estilo básico para el cuerpo */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
    min-height: 100vh;
}

/* Estilo para el canvas */
#canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

/* Header y main */
header {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: right;
}

main {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

/* Estilo para los contenedores*/
.overlayHeader {
    position: relative;
    z-index: 2;
    color: white;
    font-family: Arial, sans-serif;
    height: 40px;
    width: 300px;
    display: flex;
    justify-content: right;
}

.overlay1, .overlay2 {
    width: 610px;
    height: 560px;
    position: relative;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: white;
    font-family: Arial, sans-serif;
    border: 1.8px solid #00cc33 ;
    margin-top: 10px;
}
.overlay2 {
    margin-top: 20px;
}

.overlay3 {
    position: relative;
    z-index: 2;
    display: flex;
    color: white;
    font-family: Arial, sans-serif;
    width: 100%;
    justify-content: center;
}

/* Estilo para los textarea y botones */
#criptacion, #muestra {
    width: 520px;
    height: 490px;
    margin: 8px auto;
    background-color: rgba(0, 0, 0, 0.7);
    border: 1px solid #00cc33;
    color: #00cc33;
    font-size: 16px;
    border-radius: 4px;
    text-align: center;
    resize: none; /* Previene que el usuario cambie el tamaño del textarea */
    overflow-y: auto; /* Asegura que haya un scroll si el texto excede la altura */
    line-height: 1.5; /* Espacio entre lineas */
}

.button1Overlay1, .button2Overlay1, .button1Overlay2, .button2Overlay2, .overlay3 button, .overlayHeader button {
    width: 150px;
    margin-bottom: 10px;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.7);
    border: 1px solid #00cc33;
    color: #00cc33;
    font-size: 14px;
    border-radius: 4px;
}
.button1Overlay1, .button1Overlay2, #button1 {
    margin-right: 17px;
}
#button1, #button2 {
    margin-top: 20px;
}

/* Estilo para los botones al pasar el mouse */
.overlay1 button:hover, .overlay2 button:hover, .overlay3 button:hover {
    background-color: rgba(170, 255, 155, 0.9);
    border-color: #00ff44;
    color: #111;
}

.button {
    cursor: pointer;
    transition: all 0.2s ease-in-out; /* Aumentar la duración para una animación más fluida */
}

 /* Simula el estado "hundido" del botón */
.button.pressed {
    color: #111;
    background-color: #33d406; /* Color más oscuro */
    box-shadow: inset 0px 3px 6px rgba(0, 0, 0, 0.4); /* Sombras internas */
    transform: translateY(2px); /* Simula la presión hacia abajo */
}

.pictureRain {
    width: 300px;
    height: 100%;
    display: flex;
    justify-content: right;
}

img {
    height: 30px;
    margin-top: 10px;
    margin-right: 10px;
    border-radius: 35px;
}