/* Estilo básico para el cuerpo */
body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #111;
}

/* Estilo para el canvas */
#canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

/* Estilo para los contenedores de entrada y botones */
.overlay {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px; /* Espacio entre los divs */
    color: white;
    font-family: Arial, sans-serif;
}

/* Estilo para los inputs y botones */
.overlay input, .overlay button {
    margin: 10px 0;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    border: 1px solid #00cc33;
    color: #00cc33;
    font-size: 16px;
    border-radius: 5px;
    width: 300px; /* Ajusta el ancho de los inputs */
}

/* Estilo para los botones al pasar el mouse */
.overlay button:hover {
    background-color: rgba(0, 0, 0, 0.9);
    border-color: #00ff44;
}

/* Estilo para el input de solo lectura */
.text {
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid #00cc33;
    color: #00cc33;
    font-size: 16px;
}

.button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.2s ease-in-out; /* Aumentar la duración para una animación más fluida */
}

 /* Simula el estado "hundido" del botón */
 .button.pressed {
    background-color: #0056b3; /* Color más oscuro */
    box-shadow: inset 0px 4px 8px rgba(0, 0, 0, 0.4); /* Sombras internas */
    transform: translateY(2px); /* Simula la presión hacia abajo */}