body {
    background-image: url('./img/matrix.jpg');
    margin: 0;
    padding: 0;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.texto-colorido {
    color: blueviolet;  /* Cambia el color del texto aquí */
}
.container{
    display: inline-block;
}
.text{
    font-size: 2.5em; 
    letter-spacing: 3px; 
    font-family: monospace; 
    border-right: 5px solid;
    width: 95%; 
    white-space:nowrap;
    overflow: hidden;
    animation:
        typing 3s,
        cursor .4s step-end infinite alternate;

}
@keyframes cursor{
    50%{border-color: greenyellow;}

}

@keyframes typing{
    from { width:0 }
}